
    <!-- Details 1 -->
    <!-- sorties -->
	<div id="sorties" class="basic-7 bg-gray position-relative" style="z-index:2">
	<div class="vecteur-3" ></div>
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">
                    <h2 class="h2-heading"> HIT lokal </h2><span class="line-2" ></span>
					</div>
                </div> <!-- end of col -->
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of sorties -->
    </div>
<!-- --- -->	
<!-- --- -->	
<!-- Awards -->
<!-- --- -->
<!-- --- -->

    <div id="association" class="basic-6 awards position-relative col-lg-10 offset-lg-1" style="z-index:2; padding: 20px;">
        <div class="container" >
            <div class="row">			
                <div class="col-lg-4 offset-lg-1 col-xs-12">
                    <div class="text-container">
						<h2 class="h2-heading">Hit Lokal </h2>
                        <p class="text-1">Hit Lokal est une association qui a pour but de promouvoir la culture musicale à travers un site internet, 
                        une cérémonie de récompenses annuelle Les récompenses de la musique urbaine 100% lokal, 100% public
						</p>
						<div class="btn-container">
							<a href="https://forms.gle/VG4nEusZmPgy2xEH8" class="btn-solid-top" target="_blanck">Nous contacter</a>  
						</div>						
				   </div> <!-- end of text-container -->
                </div> <!-- end of col -->
				<div class="col-lg-7 col-xs-12">
                    <div class="image-container" style="position:absolute; z-index:1" >
							<img class="img-fluid p-3" src="images/awards/image-22.png" alt="alternative" />	
				            <img class="img-fluid p-2" src="images/awards/image-21.png" alt="alternative" />
						    <img class="img-fluid p-1" src="images/awards/image-20.png" alt="alternative" />
                         										
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
			
			
			
			    <div class="row basic-6 mission">			
                <div class="col-lg-10 offset-lg-1 col-xs-12">
                    <div class="text-container">
						<h2 class="h2-heading">Notre mission</h2>
                        <p class="text-1">Bon nombre de pays à travers le monde récompense leurs artistes. La plupart des styles musicaux y trouvent leur place <br />
						(Jazz-Pop, Classique, Worldmusic). <br /><br />

Toutefois, il manquait une pièce au puzzle de la représentation musicale mondiale. Il s’agit de notre apport, celui des DOM.<br /> La musique antillaise, guyanaise, réunionnaise, est pourtant et indéniablement écoutée et appréciée. Ses étoiles sont les célèbres Kassav, Henri Salvador, Malavoi, Harry Diboula etc., bénéficiant d’une reconnaissance artistique unanime. 
Il paraissait nécessaire de remédier à l’absence de récompense des artistes d’Outre-Mer. C’est chose faite à travers <br />
le concept Hit Hokal Awards, réponse apportée par l’association Hit Lokal qui se veut audacieuse, novatrice, réaliste 
et fidèle au public<br /><br />
Le constant était fait, il fallait pallier à l’absence de prix récompensant les artistes des musiques urbaines des DOM. 
Les objectifs étant de :<br /><br />

- Valoriser les talents et la diversité artistique des régions d’outre-mer<br />
- Partager notre culture au plus grand nombre<br />
- Réunir le temps d’une soirée des artistes de différents styles et univers musicaux<br />
- Offrir au public un spectacle de qualité, varié et animé.<br />
- Ainsi prend naissance le concept Hit Lokal Awards.<br />
						</p>					
				   </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
			
			
			<!--
			<div class="row basic-6">			
                <div class="col-lg-10 offset-lg-1 col-xs-12">
                    <div class="text-container">
						<h2 class="h2-heading">L’équipe</h2>
				
				   </div>
                </div> 
            </div> 
			
			
					<div class="container">
					 <div class="col-lg-12">
            <div class="row membre-1 text-center">
                                
                        <div class="element-item col-lg-4">
                                <img class="img-fluid" src="images/qui-somme-nous/image-14.png" alt="alternative">
								<div class="membre-2-content">Patrice LOUISOR</div>
                        </div>
                        <div class="element-item col-lg-4">
                                <img class="img-fluid" src="images/qui-somme-nous/image-11.png" alt="alternative">
                                <div class="membre-2-content">Gladys KERHEL</div>
                        </div>
                        <div class="element-item col-lg-4">
                                <img class="img-fluid" src="images/qui-somme-nous/image-13.png" alt="alternative">
                                <div class="membre-2-content">Maïté MONTOUT</div>
                        </div>
                </div> 
            </div> 
		</div> 
		
		
			<div class="container">
			 <div class="col-lg-12">
				<div class="row basic-6 membre-2 text-center">           
                        <div class="element-item  col-lg-3">
                                <img class="img-fluid" src="images/qui-somme-nous/image-12.png" alt="alternative">
                                <div class="membre-2-content">Loïd BUSSIERES</div>
                        </div>
                        <div class="element-item  col-lg-3">
                                <img class="img-fluid" src="images/qui-somme-nous/image-15.png" alt="alternative">
                                <div class="membre-2-content">Sabrina BROUNE</div>
                        </div>
                        <div class="element-item col-lg-3">
                                <img class="img-fluid" src="images/qui-somme-nous/image-16.png" alt="alternative">
                                <div class="membre-2-content">Annouk LAVIOLETTE</div>
                        </div>
                        <div class="element-item col-lg-3">
                                <img class="img-fluid" src="images/qui-somme-nous/image-17.png" alt="alternative">                            
								<div class="membre-2-content">Maelly LARGEN</div>
						</div>

                </div> 
            </div> 
		</div> 
			
			 -->
			
			
					    <div class="row basic-6">			
                <div class="col-lg-10 offset-lg-1 col-xs-12">
                    <div class="text-container">
						<h2 class="h2-heading">Les bénévoles</h2>
						
						 <div class="col-lg-8 offset-lg-2 membre-3">
                                <img class="img-fluid" src="images/qui-somme-nous/image-10.png" alt="alternative">                            
						</div>
						
                        <p class="text-1">Les compétences de chaque membre et bénévoles sont mises à profit pour que la cérémonie des Hit Lokal Awards soit<br /> un succès et reçoive un écho favorable du public, des artistes et des médias. Des moyens matériels conséquents sont <br />également utilisés pour favoriser un événement sécurisé, agréable 
							et professionnel.
							<br /><br />
							Nous tenions à remercier chaleureusement tous les bénévoles qui ont participé au bon déroulement des Hit Lokal Awards.
						</p>	
						 <div class="text-center">
							<a href="https://forms.gle/AELXr8RbmG5ZfGGd8" class="btn-solid-lg" target="_blanck">Devenir bénévole</a>	
						 </div>						 
				   </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->	
			
			
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->
