<div id="<%= dom_id checkartist %>">
  <p>
    <strong>Name:</strong>
    <%= checkartist.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= checkartist.country %>
  </p>

  <p>
    <strong>Isartist:</strong>
    <%= checkartist.isArtist %>
  </p>

</div>
