<h1>Editing checkartist</h1>

<%= render "form", checkartist: @checkartist %>

<br>

<div>
  <%= link_to "Show this checkartist", @checkartist %> |
  <%= link_to "Back to checkartists", checkartists_path %>
</div>
