 <div id="1893" class="element-item col-lg-2 art"  style="z-index:2">
                            <a href="artiste.php?ar=1893" title="F-Mc - Friendzoné">
                                <img class="img-fluid"  src="../../media/clip/2016/12/f-mc-friendzone-prod-by-hazou-2016.jpg" alt="F-Mc - Friendzoné">                                                          
                                                                <div class="artistes-2-content">F-mc</div>
                            </a>
                        </div>

