<div class="element-item col-lg-2 position-relative art"  id="9511"  style="z-index:2">
                                 <a href="videos.php?vid=<%=clip.title.parameterize%>" title="Kalipsxau ft. Goulam - Mélodie">
                                <img class="img-fluid" src="../../media/clip/2023/08/kalipsxau-ft-goulam-melodie-2023.jpg" alt="Kalipsxau ft. Goulam - Mélodie">
                                                                <i class="fa fa-play" aria-hidden="true"></i>
                                                                <div class="artistes-2-content">Kalipsxau ft. Goulam - Mélodie</div>
                            </a>
                        </div>

