     <div class="element-item col-lg-2 sty" id="<%=clip.id%>">
                            <a href="videos.php?vid=<%=clip.title.parameterize%>" title="">
                                <img class="img-fluid" src="<%=clip.title%>" alt="">
                                <div class="art-1-content"  style="z-index:1; text-align: center"><b><%=clip.cat.name%></b></div> 
                                <div class="art-1-content"  style="z-index:1; text-align: center"></div> 
                                                   </a>
                        </div>

