<div class="element-item col-lg-2 sty" id="9112">
                            <a href="videos.php?vid=missty-fanm" title="Missty - fanm">
                                <img class="img-fluid" src="../../media/clip/2022/11/missty-fanm-2022.jpg" alt="Missty - fanm">
                                <div class="art-1-content"  style="z-index:1; text-align: center"><b>Traditionnel</b></div> 
                                <div class="art-1-content"  style="z-index:1; text-align: center">Missty</div> 
                                                   </a>
                        </div>
