<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.png">
    <meta name="description" content="Hit Lokal est une association qui a pour but de promouvoir la culture musicale à travers un site internet, une cérémonie de récompenses annuelle Les récompenses de la musique urbaine 100% lokal, 100% public">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="hit-lokal" /> <!-- website name -->
	<meta property="og:site" content="https://hit-lokal.com/" /> <!-- website link -->
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content=""> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/jpeg">
	<meta property="og:fbid" content="1398329880488455">

	<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:image" content="">

    <link rel="canonical" href="" itemprop="url">
    <!-- Webpage Title -->
    <title>Hit Lokal | Toute la musique de Guadeloupe, Guyane, Martinique et Réunion</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
</head>
				       <div class="element-item col-lg-2 sty" id="9353">
                            <a href="videos.php?vid=dy-nice-baby-mama" title="Dy-nïce - baby mama">
                                <img class="img-fluid" src="../../media/clip/2023/05/dy-nice-baby-mama-clip-officiel-2023.jpg" alt="Dy-nïce - baby mama">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Dy-nïce - baby mama</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="9333">
                            <a href="videos.php?vid=pixl-dapres-toi" title="Pix'l - D'après toi">
                                <img class="img-fluid" src="../../media/clip/2023/04/pixl-dapres-toi-2023.jpg" alt="Pix'l - D'après toi">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Pix'l - D'après toi</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="9322">
                            <a href="videos.php?vid=prany-la-esy-kennenga" title="Pran’y la - E.sy Kennenga">
                                <img class="img-fluid" src="../../media/clip/2023/04/prany-la-esy-kennenga-cvsl-2023.jpg" alt="Pran’y la - E.sy Kennenga">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Pran’y la - E.sy Kennenga</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="9206">
                            <a href="videos.php?vid=maurane-voyer-en-vrac" title="Maurane voyer - En vrac">
                                <img class="img-fluid" src="../../media/clip/2023/01/maurane-voyer-en-vrac-official-video-2023.jpg" alt="Maurane voyer - En vrac">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Maurane voyer - En vrac</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="9109">
                            <a href="videos.php?vid=klowdy-momon" title="Klowdy - Momon">
                                <img class="img-fluid" src="../../media/clip/2022/05/klowdy-momon-official-video-2022.jpg" alt="Klowdy - Momon">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Klowdy - Momon</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="413">
                            <a href="videos.php?vid=maurane-etc-tinquiete" title="Maurane Etc - T'inquiète">
                                <img class="img-fluid" src="../../media/clip/hq-tinquite-maurane-etc-1395502000.jpg" alt="Maurane Etc - T'inquiète">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Maurane Etc - T'inquiète</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="1197">
                            <a href="videos.php?vid=maurane-voyer-doudou" title="Maurane Voyer- Doudou">
                                <img class="img-fluid" src="../../media/clip/hq-doudou-maurane-voyer-official-video-1419548987.jpg" alt="Maurane Voyer- Doudou">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Maurane Voyer- Doudou</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="8738">
                            <a href="videos.php?vid=cyrio-mwen-lesew" title="Cyrio - Mwen lesew">
                                <img class="img-fluid" src="../../media/clip/2022/05/cyrio-mwen-lesew-2022.jpg" alt="Cyrio - Mwen lesew">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Cyrio - Mwen lesew</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="8664">
                            <a href="videos.php?vid=arnaud-dolmen-ft-vincent-peirani-sqn" title="Arnaud Dolmen ft. Vincent Peirani - sqn">
                                <img class="img-fluid" src="../../media/clip/2022/03/arnaud-dolmen-sqn-ft-vincent-peirani-official-video-2022.jpg" alt="Arnaud Dolmen ft. Vincent Peirani - sqn">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Arnaud Dolmen ft. Vincent Peirani - sqn</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="8665">
                            <a href="videos.php?vid=stephane-castry-and-various-awtis-gwadloup-pa-moli" title="Stéphane Castry and various awtis gwadloup - Pa moli">
                                <img class="img-fluid" src="../../media/clip/2022/03/pa-moli-stephane-castry-and-various-awtis-gwadloup-2022.jpg" alt="Stéphane Castry and various awtis gwadloup - Pa moli">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Stéphane Castry and various awtis gwadloup - Pa moli</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="8553">
                            <a href="videos.php?vid=fanny-j-le-gars-dune-autre" title="Fanny j - le gars d'une autre">
                                <img class="img-fluid" src="../../media/clip/2022/01/fanny-j-le-gars-dune-autre-2022.jpg" alt="Fanny j - le gars d'une autre">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Fanny j - le gars d'une autre</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="">
                            <a href="videos.php?vid=" title="">
                                <img class="img-fluid" src="../../media/clip/" alt="">
                                <div class="art-1-content"  style="z-index:1; text-align: center"></div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="8423">
                            <a href="videos.php?vid=meemee-nelzy-pa-feme-zye-aw" title="Meemee Nelzy - Pa Fèmé Zyé Aw">
                                <img class="img-fluid" src="../../media/clip/2021/09/meemee-nelzy-pa-feme-zye-aw-official-music-video-2021.jpg" alt="Meemee Nelzy - Pa Fèmé Zyé Aw">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Meemee Nelzy - Pa Fèmé Zyé Aw</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="8229">
                            <a href="videos.php?vid=jahsik-x-max-x-yannay-hasta-la-muerte" title="jahsik x max x yannay  - Hasta la muerte">
                                <img class="img-fluid" src="../../media/clip/2021/06/hasta-la-muerte-jahsik-x-max-x-yannay-video-officiel-2021.jpg" alt="jahsik x max x yannay  - Hasta la muerte">
                                <div class="art-1-content"  style="z-index:1; text-align: center">jahsik x max x yannay  - Hasta la muerte</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="8176">
                            <a href="videos.php?vid=mirella-toussaint-lanmitye" title="Mirella Toussaint - Lanmityé">
                                <img class="img-fluid" src="../../media/clip/2021/06/mirella-toussaint-lanmitye-clip-officiel-2021.jpg" alt="Mirella Toussaint - Lanmityé">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Mirella Toussaint - Lanmityé</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="7880">
                            <a href="videos.php?vid=gihane-comme-dans-mes-reves" title="Gihane - comme dans mes rêves">
                                <img class="img-fluid" src="../../media/clip/2020/09/gihane-comme-dans-mes-reves-2020.jpg" alt="Gihane - comme dans mes rêves">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Gihane - comme dans mes rêves</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="7824">
                            <a href="videos.php?vid=wizdom-ft-ljb-roule-ayer" title="Wizdom  ft. ljb - Roule ayer">
                                <img class="img-fluid" src="../../media/clip/2020/12/wizdom-roule-ayer-ft-ljb-clip-officiel-2020.jpg" alt="Wizdom  ft. ljb - Roule ayer">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Wizdom  ft. ljb - Roule ayer</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="7678">
                            <a href="videos.php?vid=stl-papiyon" title="Stl - Papiyon">
                                <img class="img-fluid" src="../../media/clip/2020/10/stl-papiyon-2020.jpg" alt="Stl - Papiyon">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Stl - Papiyon</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="7541">
                            <a href="videos.php?vid=sheyn-tout-doucement" title="Sheyn - tout doucement">
                                <img class="img-fluid" src="../../media/clip/2020/09/sheyn-tout-doucement-clip-officiel-2020.jpg" alt="Sheyn - tout doucement">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Sheyn - tout doucement</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="6951">
                            <a href="videos.php?vid=jmax-darling" title="Jmax - darling">
                                <img class="img-fluid" src="../../media/clip/2020/03/jmax-darling-official-video-2020.jpg" alt="Jmax - darling">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Jmax - darling</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="6805">
                            <a href="videos.php?vid=wizdom-assiz-aou-la" title="Wizdom - assiz aou la">
                                <img class="img-fluid" src="../../media/clip/2020/02/wizdom-assiz-aou-la-clip-officiel-2020.jpg" alt="Wizdom - assiz aou la">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Wizdom - assiz aou la</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="6598">
                            <a href="videos.php?vid=wizdom-ti-priere" title="Wizdom - Ti prière">
                                <img class="img-fluid" src="../../media/clip/2019/09/wizdom-ti-priere-2019.jpg" alt="Wizdom - Ti prière">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Wizdom - Ti prière</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="6595">
                            <a href="videos.php?vid=mcbox-wizdom-ft-cg-flow-wayo" title="Mcbox & wizdom ft cg flow - Wayo">
                                <img class="img-fluid" src="../../media/clip/2019/12/mcbox-wizdom-ft-cg-flow-wayo-run-hit-mcbox-wizdom-wayo-nouveaute-2019.jpg" alt="Mcbox & wizdom ft cg flow - Wayo">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Mcbox & wizdom ft cg flow - Wayo</div>                           
						   </a>
                        </div>
				   				       <div class="element-item col-lg-2 sty" id="6608">
                            <a href="videos.php?vid=lisley-reconcilie" title="Lisley - réconcilié">
                                <img class="img-fluid" src="../../media/clip/2019/12/lisley-reconcilie-clip-officiel-2019.jpg" alt="Lisley - réconcilié">
                                <div class="art-1-content"  style="z-index:1; text-align: center">Lisley - réconcilié</div>                           
						   </a>
                        </div>
				                  
