<div class="rectangle-1" ></div>
	<div id="artistes-1" class="details-0 bg-gray position-relative" style="margin-top: 50px">
        <div class="row">
            <div class="col-md-12">
                <h1><%=@search%></h1>
            </div>
        </div>
        <div class="container">
                <div class="col-lg-8 offset-lg-2 col-sm-12" >
                    <div class="row">
                                                <!--
					    <div class="element-item col-lg-6 col-sm-12" style="z-index: 2">
                           <a href="videos.php?vid=kalipsxau-ft-goulam-melodie" title="Kalipsxau ft. Goulam - Mélodie">
							    <h2 class="h2-heading-0">Aléatoire</h2>
                               <img class="img-fluid" src="../../media/clip/2023/08/kalipsxau-ft-goulam-melodie-2023.jpg" alt="Kalipsxau ft. Goulam - Mélodie">

								<i class="fa fa-play" aria-hidden="true"></i>
								<div class="artistes-0-content">Kalipsxau ft. Goulam </div>
                            </a>
                        </div> -->
                    <!-- end of filter -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div> <!-- end of filter -->

<!-- --- --- --- --- -- -->
<!-- --- --- --- --- -- -->
<!-- TOP ARTISTES  -->
<!-- --- --- --- --- -- -->
<!-- --- --- --- --- -- -->

	<div id="artistes-1" class="details-1 bg-gray position-relative">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">

					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
                <div class="col-lg-12">
                    <div class="row"  id="art_preview">

				<%=render collection:@vids, as: :clip, partial: "artists/clip"%>

                        <div class="element-item col-lg-2 position-relative art"  id="9511"  style="z-index:2">
                                 <a href="videos.php?vid=kalipsxau-ft-goulam-melodie" title="Kalipsxau ft. Goulam - Mélodie">
                                <img class="img-fluid" src="../../media/clip/2023/08/kalipsxau-ft-goulam-melodie-2023.jpg" alt="Kalipsxau ft. Goulam - Mélodie">
								<i class="fa fa-play" aria-hidden="true"></i>
								<div class="artistes-2-content">Kalipsxau ft. Goulam - Mélodie</div>
                            </a>
                        </div>
						

                        <div class="element-item col-lg-2 position-relative art"  id="9432"  style="z-index:2">
                                 <a href="videos.php?vid=goulam-feat-oswald-donne-moi" title="Goulam feat. Oswald  - Donne moi">
                                <img class="img-fluid" src="../../media/clip/2023/06/goulam-donne-moi-feat-oswald-clip-officiel-2023.jpg" alt="Goulam feat. Oswald  - Donne moi">
								<i class="fa fa-play" aria-hidden="true"></i>
								<div class="artistes-2-content">Goulam feat. Oswald  - Donne moi</div>
                            </a>
                        </div>
						

                        <div class="element-item col-lg-2 position-relative art"  id="9356"  style="z-index:2">
                                 <a href="videos.php?vid=wilson-feat-goulam-je-le-ferai" title="Wilson feat goulam - je le ferai">
                                <img class="img-fluid" src="../../media/clip/2023/04/wilson-feat-goulam-je-le-ferai-2023.jpg" alt="Wilson feat goulam - je le ferai">
								<i class="fa fa-play" aria-hidden="true"></i>
								<div class="artistes-2-content">Wilson feat goulam - je le ferai</div>
                            </a>
                        </div>
						

                        <div class="element-item col-lg-2 position-relative art"  id="9350"  style="z-index:2">
                                 <a href="videos.php?vid=goulam-je-vais-te-soigner" title="Goulam - je vais te soigner">
                                <img class="img-fluid" src="../../media/clip/2023/05/goulam-je-vais-te-soigner-clip-officiel-2023.jpg" alt="Goulam - je vais te soigner">
								<i class="fa fa-play" aria-hidden="true"></i>
								<div class="artistes-2-content">Goulam - je vais te soigner</div>
                            </a>
                        </div>
						

                        <div class="element-item col-lg-2 position-relative art"  id="9041"  style="z-index:2">
                                 <a href="videos.php?vid=goulam-laisse-toi-emporter" title="Goulam - Laisse toi emporter">
                                <img class="img-fluid" src="../../media/clip/2022/11/goulam-laisse-toi-emporter-clip-officiel-2022.jpg" alt="Goulam - Laisse toi emporter">
								<i class="fa fa-play" aria-hidden="true"></i>
								<div class="artistes-2-content">Goulam - Laisse toi emporter</div>
                            </a>
                        </div>
						
                </div> <!-- end of col -->
            </div> <!-- end of row -->



					  <div class="col-lg-8  offset-lg-2">
                    <div class="row" style="margin-top:1px; margin-bottom: 50px">
                          

                    </div>
                    </div>

			<div class="row justify-content-end">
				<div class="col-lg-12">
                    <div class="row text-center" id="art_voir_plus">
			            <a class="btn-solid-top spinner-button " style="margin: auto; z-index:3">Voir plus</a>
			        </div>
			     </div>
			</div>
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of top artistes -->

	<!-- --- --- --- --- -- -->
<!-- --- --- --- --- -- -->
<!-- TOP ARTISTES  -->
<!-- --- --- --- --- -- -->
<!-- --- --- --- --- -- -->

	<div id="artistes-2" class="details-2 bg-gray position-relative">
		<div class="container">
		            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">
                    <h2 class="h2-heading-details"  style="z-index:2">Vous pourriez aussi aimer</h2>
					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
                <div class="col-lg-12">
                    <div class="row">
					                        <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="artiste.php?ar=1462" title="Nken -Walpa 2">
                              <img class="img-fluid"  src="../../media/clip/2023/08/nken-walpa-2-prod-by-mikado-dancehall-shatta-rsbz-2023-clip-officiel-2023.jpg" alt="Nken -Walpa 2">
								<div class="artistes-2-content">Nken</div>
                            </a>
                        </div>
					                            <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="artiste.php?ar=3880" title="Kery james feat. kalash - 6 du mat">
                              <img class="img-fluid"  src="../../media/clip/2023/08/kery-james-feat-kalash-6-du-mat-clip-officiel-2023.jpg" alt="Kery james feat. kalash - 6 du mat">
								<div class="artistes-2-content">Kery james feat. kalash</div>
                            </a>
                        </div>
					                            <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="artiste.php?ar=216" title="Alaza -  Paradise">
                              <img class="img-fluid"  src="../../media/clip/2023/08/alaza-paradise-clip-officiel-2023.jpg" alt="Alaza -  Paradise">
								<div class="artistes-2-content">Alaza</div>
                            </a>
                        </div>
					                            <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="artiste.php?ar=3762" title="Kalipsxau ft. Goulam - Mélodie">
                              <img class="img-fluid"  src="../../media/clip/2023/08/kalipsxau-ft-goulam-melodie-2023.jpg" alt="Kalipsxau ft. Goulam - Mélodie">
								<div class="artistes-2-content">Kalipsxau ft. Goulam</div>
                            </a>
                        </div>
					                            <div class="element-item col-lg-2"  style="z-index:2">
                             <a href="artiste.php?ar=3551" title="Kalipsxau - Monalisa">
                              <img class="img-fluid"  src="../../media/clip/2023/06/kalipsxau-monalisa-2023.jpg" alt="Kalipsxau - Monalisa">
								<div class="artistes-2-content">Kalipsxau</div>
                            </a>
                        </div>
					                    </div> <!-- end of col -->
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of top artistes -->
