<div class="text-comment">
                                            <%=simple_format(comment.content)%> (<%=comment.user.username%>, <%=l(comment.created_at.to_date)%>)
                                        </div>
