<div id="<%= dom_id checkmusicalprod %>">
  <p>
    <strong>Name:</strong>
    <%= checkmusicalprod.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= checkmusicalprod.country %>
  </p>

  <p>
    <strong>Ismusicalprod:</strong>
    <%= checkmusicalprod.isMusicalprod %>
  </p>

</div>
