<h1>Editing checkmusicalprod</h1>

<%= render "form", checkmusicalprod: @checkmusicalprod %>

<br>

<div>
  <%= link_to "Show this checkmusicalprod", @checkmusicalprod %> |
  <%= link_to "Back to checkmusicalprods", checkmusicalprods_path %>
</div>
