<a  href="actualites/les-15-acteurs-influents-de-la-musique-outremer" target="_blank">
  <img class="img img-01" src="../../media/actus/2023/01/les-acteurs-influents-de-la-musique-outremer-thlg.png" alt="">

  <img class="img img-02" src="../../media/actus/2023/01/les-acteurs-influents-de-la-musique-outremer-thlg.png" alt="">
  </a>

  <div class="credit">
  <p><a target="_blank" href="actualites/les-15-acteurs-influents-de-la-musique-outremer">Les 15 acteurs influents de la musique Outremer</a></p>
</div>

