


    <!-- Header -->
<%if @news.length > 0%>
    <header id="header" class="header" style="background-color: black!important; max-height: 100vh">

<main>
<style>
main {
  position: relative;
  width: 80vw;
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}


main .credit a {
  color: inherit;
  text-decoration: none;
}

main .credit a:hover {
	  color: inherit;
	  text-decoration: none;
      opacity: .9;
  }

main a {
	width: 100%;
	cursor: pointer;
	z-index: 1;
}
.credit p {
    position: absolute;
    top: 6%;
    left: 2%;
    color: #FFFFFF;
    margin: 0;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .08em;
	z-index:2;
}

main img{
  width: 60%;
  height: auto;
  position: absolute;
  // cursor: none;
  transition: 650ms ease;

}


 .img-01 {
    z-index: 2;
  }
  
  .img-02 {
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    filter: blur(100px);
	position: relative;
  }

.img-01:hover {
  opacity: 0;
}

.img-01:hover ~ .img-02 {
    opacity: 1;
    filter: blur(0);

}

</style>

<%=render partial: "welcome/mostrecentarticle", as: :news,collection: @news%>
</main>

</header>
<%end%>

    <!-- Details 1 -->
    <!-- sorties -->
	<div id="sorties" class="basic-2 projects bg-gray position-relative">
	<div class="vecteur-3" ></div>
		<div class="container"  style="z-index:2">
            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">
                    <h2 class="h2-heading">Entrée dans le top </h2><span class="line-2" ></span>
					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
                <div class="col-lg-12">   
                                  
                    <div class="row">
<%=render collection: @entreetop, as: :clip, partial: "entreetop"%>
									
					                    <!-- end of filter -->
					</div>
					<div class="d-flex justify-content-center">
                     <a href="/top.php" class="btn-solid-reg" style="	margin-right:0%; z-index:3">voir tous</a>
				    </div>
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of sorties -->

<!-- --- -->	
<!-- --- -->	
<!-- Top -->
<!-- --- -->
<!-- --- -->

    <div id="top" class="basic-3 le-top position-relative"  style="z-index:2">
		<div class="vecteur-4" ></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="image-container" style="z-index:1;position:relative;" >
<%=render collection: @top, as: :clip, partial: "top"%>
					   						
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xs-12">
                     <div class="text-container top">
					     <div style="display: flex; align-items: end; justify-content: end;">
                        <h2 class="h2-heading-right">le top</h2><span class="line-3" ></span>
						</div>
                        <p class="text-1">Retrouvez toutes les semaines, le TOP des musiques et artistes les plus écoutés!<br />
                          <!-- <span class="text-2">  ! </span>--> </p>
                         <div style="display: flex; flex-wrap: wrap" class="d-flex justify-content-center">
						 <a href="top.php"class="btn-solid-top" >Top de la semaine</a>
						<!-- <a class="btn-solid-top b1" >All time</a>-->
						 </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->
	
<!-- --- -->	
<!-- --- -->	
<!-- les actus -->
<!-- --- -->
<!-- --- -->	

	<div id="actualites" class="basic-1 filter actu position-relative" style="z-index:2">
	    <div class="vecteur-5" ></div>
		 <div class="rectangle-28" ></div>
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
				    <div style="display: flex">
                    <h2 class="h2-heading">LES ACTUS </h2><span class="line-2" ></span>
					</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
          
		  <div class="row">
                <div class="col-lg-12">
		    <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
			
			
					
			
			  	
		<%=render collection: @mynews, as: :news, partial: "mynews"%>	
			  
            </div>
            <a class="carousel-control-prev w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
		
		

    </div> <!-- end of col -->
    </div> <!-- end of row -->
							
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of sorties -->








<!-- --- -->	
<!-- --- -->	
<!-- Awards -->
<!-- --- -->
<!-- --- -->

    <div id="awards" class="basic-5 awards position-relative" style="z-index:2">
	 <div class="vecteur-6" ></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12">
                    <div class="text-container">
					     <div style="display: flex; align-items: left; justify-content: left;">
                        <h2 class="h2-heading">Hit Lokal Awards</h2>
						</div>
                        <p class="text-1"> Chaque année, l’arrivée du printemps rime avec l’organisation des Hit Lokal Awards, qui est LA cérémonie dédiée à promouvoir et récompenser les meilleurs artistes de la musique ultramarine.</p>
                        <a href="https://hitlokalawards.com/notopen" target="_blanck" class="btn-solid-top" >en savoir plus</a>                   
				   </div> <!-- end of text-container -->
                </div> <!-- end of col -->
				    <div class="col-lg-7 col-xs-12">
                    <div class="image-container" style="position:absolute; float:right; z-index:1" >
                           <img class="img-fluid p-3" src="images/awards/image-22.png" alt="alternative" />
				           <img class="img-fluid p-2" src="images/awards/image-21.png" alt="alternative" />
						   <img class="img-fluid p-1" src="images/awards/image-20.png" alt="alternative" />
                        
						
						
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->




<!-- --- -->	
<!-- --- -->	
<!-- Qui somme nous -->
<!-- --- -->
<!-- --- -->

		<div id="lassociation" class="basic-4 somme-nous position-relative" style="z-index:2">
	   
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="image-container" style="position:absolute; z-index:1" >
                         <img class="img-fluid p-1" src="images/awards/centre.jpg" alt="alternative" />
                         <img class="img-fluid p-2" src="images/qui-somme-nous/centre.jpg" alt="alternative" />
                      <!--   <img class="img-fluid p-3" src="images/qui-somme-nous/centre.png" alt="alternative" /> -->
						
						
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xs-12">
                    <div class="text-container">
					     <div style="display: flex; align-items: end; justify-content: end;">
                        <h2 class="h2-heading-right">A propos</h2><span class="line-3" ></span>
						</div>
						<h4>Qui sommes-nous</h4>
                        <p class="text-1"> Hit Lokal est une association qui a pour but de promouvoir la culture musicale à travers un site internet, une cérémonie de récompenses annuelle
Les récompenses de la musique urbaine 100% lokal, 100% public 
 </p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->

